{%- unless block.type == 'icon' -%}
  <{% unless block.settings.link != blank %}span{% else %}a href="{{ block.settings.link }}"{% endunless %} class="scrolling-text__item scrolling-text__item--{{ section.id }} scrolling-text__item--{{ section.id }}-{{ block.id }}
    {% if block.type == 'extra_bold_heading_text' %} heading-font{% endif %}
    {% if block.type == 'extra_bold_heading_text' %} font-heading-extra-bold{% endif %}
    {% if block.settings.use_outline_text %} scrolling-text__item--outline{% endif %}
    {% if block.settings.gradient_color != blank %} scrolling-text__item--gradient{% endif %}
    {% if block.settings.link != blank %} full-link full-unstyled-link por{% endif %}">
    {{ block.settings.title }}
  </{% unless block.settings.link != blank %}span{% else %}a{% endunless %}>
{%- else -%}
  <div class="flex align-center scrolling-text__item--{{ section.id }}-{{ block.id }}">{%- render 'icon-picker', icon: block.settings.icon, icon_width: 35, add_classes: 'color-foreground' -%}</div>
{%- endunless -%}  